h1{
    text-align: center;
}
body{
    font-family: sans-serif;  
}
*{
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}
.row{
    width: 95%;    
}

div.pa{
    background-color: rgb(126, 172, 172);
    font-weight: bold;
    font-size: 20px;
    color: brown;
    width: 450px;
    height: 400px;
    margin: 10px;
    padding-top: 0px;
    border: 1px solid black;
    float: left;
}
p{
    width: 90px;
    height: 35px;
    margin-top: 0;
    border: 1px solid black; 
    float: right;  
  
}
article{
    margin: 15px;
    clear: both;
}
#t1{
    background-color: rgb(175, 86, 202);    
}
#t2{
    background-color: rgb(85, 236, 241);    
}
#t3{
    background-color: rgb(241, 229, 59);
}




@media (min-width:992px){    
    div.pa{
        width: 30%;
    }

}
@media (min-width:768px) and (max-width:991px){
    div.pa{
        width: 45%;
    }
 
}
@media (max-width:767px){
    div.pa{
        width: 95%;
    }

}